@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;700&family=Poppins:wght@300;500;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #F0F0F7;
  display: flex;
  align-items: center;
  justify-content: center; }

html, body {
  height: 100vh; }

body, input, button, textarea {
  font: 500 1.6rem Poppins;
  color: #6A6180; }

#container {
  width: 90vw;
  max-width: 700px; }
