:root{
    font-size: 40%;
}

@media (max-width: 899px){
    :root{
        font-size: 40%;
    }
}

@media (min-width: 900px ){
    :root{
        font-size: 50%;
    }
} 

@media (min-width: 1100px){
    :root{
        font-size: 43.5%;
    }
}


